
/ Required scripts for using the Yahoo! Mail Developer Platform API

= javascript_include "http://yui.yahooapis.com/combo?2.8.0/build/yahoo-dom-event/yahoo-dom-event.js&2.8.0/build/json/json-min.js"
= javascript_include "http://mail.yimg.com/a/lib/om/om_api_public/1.0.16/om-min.js"
= javascript_include "http://mail.yimg.com/a/lib/om/openmailintl/1.0.0/openmailintl.js"

/ JavaScript libraries

= render :javascript => ['base/application', 'base/debug', 'base/i18n', 'base/launcher', 'base/data', 'base/yahoo_request', 'message', 'status'], :filename => 'javascripts'

/ Header
= render :javascript => ['header', @view]
