%p#main_subhead.t Click on a stationery below to open a new message.

.thumbnails
  .themesets
    %select#set_selector
      - THEMESETS.each do |set|
        %option.t{:value => set, :id => "set_#{set}"} set      
      %option#set_solid_colors.t{:value => "solid_colors"} solid colors


  - @used_themes = [:none]
  - set_names = THEMESETS.map do |set_name|
    - "set_#{set_name}"
    
  - ALL_THEMES.keys.sort.each do |theme|
    - set_names = ALL_THEMES[theme].map do |name|
      - "set_#{name}"
    .container{:class => set_names.join(" "), :id => "container_#{theme}"}
      .outside
        .thumbnail{:id => theme}
      %p.name.p= "theme_#{theme}"

  - SOLID_COLORS.each do |color|
    .container.set_solid_colors
      .thumbnail{:id => "color_#{color}"}
  
.clear
